﻿@model IEnumerable<NetCoreWebApp.Models.Album>

@{
    ViewData["Title"] = "Albums";
}

<h1>Albums</h1>

<p>
    <button> <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Create">Create New</a> </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
       
    </thead>
    <tbody>
        @using (Html.BeginForm("NewForm","Album", FormMethod.Post))
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                <button>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button> |
                <button>@Html.ActionLink("Details", "Details", new { id = item.Id })</button> |
                <button>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
           
        </tr>
            }
    </tbody>
</table>
